In [81]:
import pandas as pd

from config import gkey

In [82]:
file1 = "mass_shooting_2019.csv"
file2 = "mass_shooting_2020.csv"
file3 = "mass_shooting_2021.csv"

In [83]:
df_2019 = pd.read_csv(file1)
df_2020 = pd.read_csv(file2)
df_2021 = pd.read_csv(file3)

In [84]:
df_2019.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1582816,"December 29, 2019",Illinois,Danville,1803 block of Westview Ave,0,5,NaN
1,1582197,"December 29, 2019",New York,Buffalo,50 block of Henrietta Ave,1,3,NaN
2,1583444,"December 29, 2019",California,Ceres,800 block of Allacante Dr,0,5,NaN
3,1581590,"December 27, 2019",California,Modesto,1900 block of Vernon Ave,1,3,NaN
4,1581103,"December 27, 2019",Texas,Houston,500 block of Smart St,2,7,NaN

In [85]:
df_2020.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1891461,"December 31, 2020",Indiana,Indianapolis,8215 Center Run Road,1,3,NaN
1,1890946,"December 31, 2020",Oregon,Happy Valley,9200 block of SE Idleman Rd,0,4,NaN
2,1886974,"December 26, 2020",Illinois,Rockford,4007 E State St,3,3,NaN
3,1886913,"December 26, 2020",Florida,Tampa,N 20th St and E 7th Ave,2,2,NaN
4,1887059,"December 26, 2020",Massachusetts,Lynn,Washington St and Quincy Ter,1,5,NaN

In [86]:
df_2021.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2125953,"September 26, 2021",California,Oakland,1400 block of 8th Ave,0,4,NaN
1,2125790,"September 26, 2021",Illinois,Chicago,800 block of S Albany Ave,0,0,NaN
2,2125613,"September 25, 2021",New York,Utica,800 block of Mohawk St,0,4,NaN
3,2125227,"September 25, 2021",California,Riverside,6000 Block of Mariposa Ave,0,6,NaN
4,2125444,"September 25, 2021",Tennessee,Athens,Co Rd 60,4,0,NaN

In [87]:
frames = [df_2019, df_2020, df_2021]

result = pd.concat(frames)

In [88]:
result

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1582816,"December 29, 2019",Illinois,Danville,1803 block of Westview Ave,0,5,NaN
1,1582197,"December 29, 2019",New York,Buffalo,50 block of Henrietta Ave,1,3,NaN
2,1583444,"December 29, 2019",California,Ceres,800 block of Allacante Dr,0,5,NaN
3,1581590,"December 27, 2019",California,Modesto,1900 block of Vernon Ave,1,3,NaN
4,1581103,"December 27, 2019",Texas,Houston,500 block of Smart St,2,7,NaN
...,...,...,...,...,...,...,...,...
518,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,NaN
519,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,NaN
520,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,NaN
521,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,NaN
522,1891720,"January 1, 2021",Illinois,Galesburg,1000 block of Monroe St,0,4,NaN

In [89]:
result['Address'] = result['Address'].str.replace("block of", '')

In [90]:
result["Full_Address"] = result['Address'] + ', ' + result['City Or County'] + ' ' + result['State']

In [91]:
result

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Full_Address
0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,NaN,"1803 Westview Ave, Danville Illinois"
1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,NaN,"50 Henrietta Ave, Buffalo New York"
2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,NaN,"800 Allacante Dr, Ceres California"
3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,NaN,"1900 Vernon Ave, Modesto California"
4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,NaN,"500 Smart St, Houston Texas"
...,...,...,...,...,...,...,...,...,...
518,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,NaN,"10525 NW 24th Ave, Miami Florida"
519,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,NaN,"2637 S Walker St, Sioux City Iowa"
520,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,NaN,"3211 Towson Ave, Fort Smith Arkansas"
521,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,NaN,"2650 Dumas Dr, Amarillo Texas"
522,1891720,"January 1, 2021",Illinois,Galesburg,1000 Monroe St,0,4,NaN,"1000 Monroe St, Galesburg Illinois"

In [17]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

locator = Nominatim(user_agent="myGeocoder")

# 1 - conveneint function to delay between geocoding calls

geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
geocode = locator.geocode

In [59]:


# 2- - create location column
result['location'] = result['Full_Address'].apply(geocode)

# 3 - create longitude, laatitude and altitude from location column (returns tuple)
result['lat'] = result['location'].apply(lambda loc: loc.latitude if loc else None)
result['long'] = result['location'].apply(lambda loc: loc.longitude if loc else None)

In [60]:
result.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Full_Address,location,point,lat,long
0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,NaN,"1803 Westview Ave, Danville Illinois","(1803, Westview Avenue, Danville, Vermilion Co...","(40.1555301092308, -87.61471508589744, 0.0)",40.155530,-87.614715
1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,NaN,"50 Henrietta Ave, Buffalo New York","(50, Henrietta Avenue, Buffalo, Erie County, N...","(42.9563206122449, -78.89934789795919, 0.0)",42.956321,-78.899348
2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,NaN,"800 Allacante Dr, Ceres California","(800, Allacante Drive, Ceres, Stanislaus Count...","(37.590897, -120.981631, 0.0)",37.590897,-120.981631
3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,NaN,"1900 Vernon Ave, Modesto California","(1900, Vernon Avenue, West Modesto, Modesto, S...","(37.614474926174495, -121.02792171140939, 0.0)",37.614475,-121.027922
4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,NaN,"500 Smart St, Houston Texas","(Smart Living at Cypress Creek, Houston, Harri...","(29.95991275, -95.56226793134292, 0.0)",29.959913,-95.562268
...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,NaN,"10525 NW 24th Ave, Miami Florida","(10525, Northwest 24th Avenue, West Little Riv...","(25.8712413, -80.2382308, 0.0)",25.871241,-80.238231
519,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,NaN,"2637 S Walker St, Sioux City Iowa","(2637, South Walker Street, Sioux City, Woodbu...","(42.462977157894734, -96.33166884210527, 0.0)",42.462977,-96.331669
520,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,NaN,"3211 Towson Ave, Fort Smith Arkansas","(3211, Towson Avenue, Mill Creek, Fort Smith, ...","(35.353577265822786, -94.42203451898735, 0.0)",35.353577,-94.422035
521,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,NaN,"2650 Dumas Dr, Amarillo Texas","(2650, Dumas Drive, Amarillo, Potter County, T...","(35.24087693805399, -101.83087625516222, 0.0)",35.240877,-101.830876
522,1891720,"January 1, 2021",Illinois,Galesburg,1000 Monroe St,0,4,NaN,"1000 Monroe St, Galesburg Illinois","(1000, Monroe Street, Galesburg, Knox County, ...","(40.95933, -90.381831, 0.0)",40.959330,-90.381831

In [62]:
# result.to_csv("results_parsed_3.csv")

In [3]:
file_with_nulls = "results_parsed_3.csv"

nulls_df = pd.read_csv(file_with_nulls)

In [5]:
nulls_df = nulls_df.drop(['Operations', 'Unnamed: 0', 'location', 'point'], axis=1)


nulls_df = nulls_df.rename(columns={"Incident ID": "incident_id"
                   , "Incident Date": "incident_date"
                   , "State": "state"
                   , "City Or County": "city_county"
                   , "Address": "street_address"
                   , "# Killed": "killed"
                   , "# Injured": "injured"
                  , "Full_Address": "full_address"})

In [79]:
nulls_df.head()

,incident_id,incident_date,state,city_county,street_address,killed,injured,full_address,lat,long
0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,"1803 Westview Ave, Danville Illinois",40.155530,-87.614715
1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,"50 Henrietta Ave, Buffalo New York",42.956321,-78.899348
2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,"800 Allacante Dr, Ceres California",37.590897,-120.981631
3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,"1900 Vernon Ave, Modesto California",37.614475,-121.027922
4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,"500 Smart St, Houston Texas",29.959913,-95.562268

In [13]:
just_nulls_df = nulls_df.loc[nulls_df["lat"].isnull(),:]

In [15]:
just_nulls_df = just_nulls_df.reset_index()

In [78]:
just_nulls_df.head()

,index,incident_id,incident_date,state,city_county,street_address,killed,injured,full_address,lat,long
0,5,1581476,"December 27, 2019",Georgia,Kennesaw,1575 Ridenour Pkwy NW,0,4,"1575 Ridenour Pkwy NW, Kennesaw Georgia",33.991723,-84.588958
1,14,1577688,"December 22, 2019",Minnesota,Minneapolis (Spring Lake Park),8407 Plaza Blvd NE,1,7,"8407 Plaza Blvd NE, Minneapolis (Spring Lake P...",45.122426,-93.234282
2,32,1562685,"December 1, 2019",Michigan,Kalamazoo,6300 Proctor St,1,3,"6300 Proctor St, Kalamazoo Michigan",42.285262,-85.506099
3,34,1561398,"November 30, 2019",Arkansas,Hensley,6500 E Sardis Rd,0,5,"6500 E Sardis Rd, Hensley Arkansas",34.544067,-92.355177
4,36,1559257,"November 27, 2019",New York,Bronx,E 153rd St and Courtlandt Ave,0,5,"E 153rd St and Courtlandt Ave, Bronx New York",40.819372,-73.918284

In [24]:
# just_nulls_df.loc[just_nulls_df["lat"] != "Not Found",:]

In [39]:
def find_geocode(row):
    
    place = row['full_address']
    place = place.replace(" ", "+")
    
    #gkey = ""

    # Build the endpoint URL
    target_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={place}&key={gkey}"
    

    try:
        geo_data = requests.get(target_url).json()
        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"]
        
        if lat != None:
            return lat, lng
        else:
            return "Not Found", "Not Found"
    
    except:
        return "Not Found", "Not Found"

In [40]:
just_nulls_df[['lat', 'long']] = just_nulls_df.apply(find_geocode, axis="columns", result_type="expand")

In [41]:
just_nulls_df

,index,incident_id,incident_date,state,city_county,street_address,killed,injured,full_address,lat,long
0,5,1581476,"December 27, 2019",Georgia,Kennesaw,1575 Ridenour Pkwy NW,0,4,"1575 Ridenour Pkwy NW, Kennesaw Georgia",33.991723,-84.588958
1,14,1577688,"December 22, 2019",Minnesota,Minneapolis (Spring Lake Park),8407 Plaza Blvd NE,1,7,"8407 Plaza Blvd NE, Minneapolis (Spring Lake P...",45.122426,-93.234282
2,32,1562685,"December 1, 2019",Michigan,Kalamazoo,6300 Proctor St,1,3,"6300 Proctor St, Kalamazoo Michigan",42.285262,-85.506099
3,34,1561398,"November 30, 2019",Arkansas,Hensley,6500 E Sardis Rd,0,5,"6500 E Sardis Rd, Hensley Arkansas",34.544067,-92.355177
4,36,1559257,"November 27, 2019",New York,Bronx,E 153rd St and Courtlandt Ave,0,5,"E 153rd St and Courtlandt Ave, Bronx New York",40.819372,-73.918284
...,...,...,...,...,...,...,...,...,...,...,...
341,1534,1897878,"January 9, 2021",Texas,Houston,5828 Martin Luther King Blvd,1,3,"5828 Martin Luther King Blvd, Houston Texas",29.696339,-95.337804
342,1537,1896252,"January 6, 2021",Virginia,Manassas,10010 Ellis Rd,3,3,"10010 Ellis Rd, Manassas Virginia",38.737435,-77.428646
343,1539,1894979,"January 4, 2021",Florida,Tampa,1225 S 78th St,0,5,"1225 S 78th St, Tampa Florida",27.9368,-82.369038
344,1540,1894941,"January 4, 2021",Florida,Fort Lauderdale (Lauderhill),1828 NW 38th Ave,0,7,"1828 NW 38th Ave, Fort Lauderdale (Lauderhill)...",26.148812,-80.199546
345,1541,1893953,"January 3, 2021",Oregon,Gresham,NE 181st Ave and NE San Rafael St,0,4,"NE 181st Ave and NE San Rafael St, Gresham Oregon",45.537104,-122.47726

In [47]:
#just_nulls_df.to_csv("filled_in_nulls.csv")

In [48]:
new_df = just_nulls_df.loc[just_nulls_df["lat"] != "Not Found",:]

In [64]:
new_df = new_df.drop(['index'], axis=1)

In [65]:
new_df

,incident_id,incident_date,state,city_county,street_address,killed,injured,full_address,lat,long
0,1581476,"December 27, 2019",Georgia,Kennesaw,1575 Ridenour Pkwy NW,0,4,"1575 Ridenour Pkwy NW, Kennesaw Georgia",33.991723,-84.588958
1,1577688,"December 22, 2019",Minnesota,Minneapolis (Spring Lake Park),8407 Plaza Blvd NE,1,7,"8407 Plaza Blvd NE, Minneapolis (Spring Lake P...",45.122426,-93.234282
2,1562685,"December 1, 2019",Michigan,Kalamazoo,6300 Proctor St,1,3,"6300 Proctor St, Kalamazoo Michigan",42.285262,-85.506099
3,1561398,"November 30, 2019",Arkansas,Hensley,6500 E Sardis Rd,0,5,"6500 E Sardis Rd, Hensley Arkansas",34.544067,-92.355177
4,1559257,"November 27, 2019",New York,Bronx,E 153rd St and Courtlandt Ave,0,5,"E 153rd St and Courtlandt Ave, Bronx New York",40.819372,-73.918284
...,...,...,...,...,...,...,...,...,...,...
341,1897878,"January 9, 2021",Texas,Houston,5828 Martin Luther King Blvd,1,3,"5828 Martin Luther King Blvd, Houston Texas",29.696339,-95.337804
342,1896252,"January 6, 2021",Virginia,Manassas,10010 Ellis Rd,3,3,"10010 Ellis Rd, Manassas Virginia",38.737435,-77.428646
343,1894979,"January 4, 2021",Florida,Tampa,1225 S 78th St,0,5,"1225 S 78th St, Tampa Florida",27.9368,-82.369038
344,1894941,"January 4, 2021",Florida,Fort Lauderdale (Lauderhill),1828 NW 38th Ave,0,7,"1828 NW 38th Ave, Fort Lauderdale (Lauderhill)...",26.148812,-80.199546
345,1893953,"January 3, 2021",Oregon,Gresham,NE 181st Ave and NE San Rafael St,0,4,"NE 181st Ave and NE San Rafael St, Gresham Oregon",45.537104,-122.47726

In [50]:
#new_df.to_csv("filled_in_nulls.csv")

In [58]:
file_majority = "cleaned.csv"

In [59]:
majority_df = pd.read_csv(file_majority)

In [73]:
majority_df.head()

,incident_id,incident_date,state,city_county,street_address,killed,injured,full_address,lat,long
0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,"1803 Westview Ave, Danville Illinois",40.155530,-87.614715
1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,"50 Henrietta Ave, Buffalo New York",42.956321,-78.899348
2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,"800 Allacante Dr, Ceres California",37.590897,-120.981631
3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,"1900 Vernon Ave, Modesto California",37.614475,-121.027922
4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,"500 Smart St, Houston Texas",29.959913,-95.562268

In [62]:
majority_df = majority_df.drop(['Unnamed: 0'], axis=1)

majority_df = majority_df.rename(columns={"Incident ID": "incident_id"
                   , "Incident Date": "incident_date"
                   , "State": "state"
                   , "City Or County": "city_county"
                   , "Address": "street_address"
                   , "# Killed": "killed"
                   , "# Injured": "injured"
                  , "Full_Address": "full_address"})

In [74]:
majority_df

,incident_id,incident_date,state,city_county,street_address,killed,injured,full_address,lat,long
0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,"1803 Westview Ave, Danville Illinois",40.155530,-87.614715
1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,"50 Henrietta Ave, Buffalo New York",42.956321,-78.899348
2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,"800 Allacante Dr, Ceres California",37.590897,-120.981631
3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,"1900 Vernon Ave, Modesto California",37.614475,-121.027922
4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,"500 Smart St, Houston Texas",29.959913,-95.562268
...,...,...,...,...,...,...,...,...,...,...
1197,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,"10525 NW 24th Ave, Miami Florida",25.871241,-80.238231
1198,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,"2637 S Walker St, Sioux City Iowa",42.462977,-96.331669
1199,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,"3211 Towson Ave, Fort Smith Arkansas",35.353577,-94.422035
1200,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,"2650 Dumas Dr, Amarillo Texas",35.240877,-101.830876
1201,1891720,"January 1, 2021",Illinois,Galesburg,1000 Monroe St,0,4,"1000 Monroe St, Galesburg Illinois",40.959330,-90.381831

In [75]:
frames2 = [new_df, majority_df]

complete_df = pd.concat(frames2)

In [76]:
complete_df = complete_df.reset_index()

In [77]:
complete_df

,index,incident_id,incident_date,state,city_county,street_address,killed,injured,full_address,lat,long
0,0,1581476,"December 27, 2019",Georgia,Kennesaw,1575 Ridenour Pkwy NW,0,4,"1575 Ridenour Pkwy NW, Kennesaw Georgia",33.991723,-84.588958
1,1,1577688,"December 22, 2019",Minnesota,Minneapolis (Spring Lake Park),8407 Plaza Blvd NE,1,7,"8407 Plaza Blvd NE, Minneapolis (Spring Lake P...",45.122426,-93.234282
2,2,1562685,"December 1, 2019",Michigan,Kalamazoo,6300 Proctor St,1,3,"6300 Proctor St, Kalamazoo Michigan",42.285262,-85.506099
3,3,1561398,"November 30, 2019",Arkansas,Hensley,6500 E Sardis Rd,0,5,"6500 E Sardis Rd, Hensley Arkansas",34.544067,-92.355177
4,4,1559257,"November 27, 2019",New York,Bronx,E 153rd St and Courtlandt Ave,0,5,"E 153rd St and Courtlandt Ave, Bronx New York",40.819372,-73.918284
...,...,...,...,...,...,...,...,...,...,...,...
1542,1197,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,"10525 NW 24th Ave, Miami Florida",25.871241,-80.238231
1543,1198,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,"2637 S Walker St, Sioux City Iowa",42.462977,-96.331669
1544,1199,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,"3211 Towson Ave, Fort Smith Arkansas",35.353577,-94.422035
1545,1200,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,"2650 Dumas Dr, Amarillo Texas",35.240877,-101.830876
1546,1201,1891720,"January 1, 2021",Illinois,Galesburg,1000 Monroe St,0,4,"1000 Monroe St, Galesburg Illinois",40.95933,-90.381831

In [72]:
#complete_df.to_csv("completed_data.csv")